html{
    scroll-behavior: smooth;
}

body {
    padding: var(--spacing-m);
    background-color: var(--color-background-default);
    color: var(--color-text-default);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-loose);
}

h1 {
    margin-bottom: var(--spacing-3xl);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-tight);
}

h2{
    margin-top: var(--spacing-3xl);
    font-size: var(--font-size-xl);
}

img{
    display: block;
    width: 100%;
}

p,
h2,
h3,
h4,
dd,
li,
figure{
    margin-bottom: var(--spacing-m);
}

p, dd, li, figcaption{
    hyphens: auto;;
}

strong{
    font-weight: var(--font-weight-bold);
}

@media (width >= 900px) {
    .toc{
        max-width: 20rem;
    }

    main {
        display: flex;
    }

    .main-content{
        max-width: 50rem;
        margin-top: 0;
    }
}