/*  infobox
######################################### */

.infobox{
    background-color: var(--color-background);
    border-left: solid  gold;
    padding: 1rem;
    margin-bottom: 1rem;
    h3{
        font-weight: bold;
    }
}

.image-with-caption{
    background-color: var(--color-background);
    width: min-content;
    display: block;

    img{

    }
    figcaption{
        padding: 1rem;
        lo{
            margin-left: 1rem;
        }
    }
}

.onpage-nav {
    h1,h2,h3{
        font-weight: bold;
        font-size: 1.5rem;
    }
    ol{
        border-left: solid 0.2rem  #e0e0e0;
        li{
            a{color: black}
            margin: 0.5rem;
            margin-left: 1rem;
            opacity: 0.6;
        }
        li:hover{
            opacity: 1.0;
        }
    }
}